<h2><%= clothe.name%></h2>
<p>
  <strong>Type of Clothes:</strong>
  <%= clothe.type%>
</p>
<p>
  <strong>Brand:</strong>
  <%= clothe.brand.name%>
</p>
<p>
  <strong>Price:</strong>
  <%= clothe.price%>
</p>
<% if clothe.image.present?%>
  <p><%= image_tag(clothe.image, :width => 100, :height => 150 )%></p>
<%end%>
<p>
  <%= link_to 'View Details', clothe %>
</p>