<h1>Clothes</h1>
<% @clothes.each do |clothe| %>
  <h2><%=clothe.name%></h2>
  <p>
    <strong>Type of Clothes:</strong>
    <%=clothe.type%>
  </p>
  <p>
    <strong>Brand:</strong>
    <%=clothe.brand.name%>
  </p>
  <p>
    <strong>Price:</strong>
    <%=clothe.price%>
  </p>
  <p>
    <%= link_to 'View Details', clothe %>
  </p>
<%end%>
