<h2><%= basketball.name%></h2>
<p>
  <strong>Brand:</strong>
  <%= basketball.brand.brand%>
</p>
<p>
  <strong>Price:</strong>
  <%= basketball.price%>
</p>
<% if basketball.image.present?%>
  <p><%= image_tag(basketball.image, :width => 100, :height => 150 )%></p>
<%end%>
<p>
  <%= link_to 'View Details', basketball %>
</p>