<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="<%= root_path %>">Home</a>
    <%= link_to "Basketballs", "/basketballs" %>
    <%= link_to "Jerseys", "/jerseys" %>
    <%= link_to "Shoes", "/shoes" %>
    <%= link_to "About", "/about/index" %>
    <%= link_to "Contact", "/contacts/index" %>
    <%= yield %>
  </body>
</html>
