<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav>
      <ul>
        <li><%= link_to "Basketballs", "/basketballs" %></li>
        <li><%= link_to "Clothes", "/clothes" %></li>
        <li><%= link_to "Gear", "/gears" %></li>
        <li><%= link_to "Jerseys", "/jerseys" %></li>
        <li><%= link_to "Shoes", "/shoes" %></li>
      </ul>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
